/*
Filename : app.css
@author Aayushi Shah
@date August 19,2016
StudentID : 300874124
website :http://comp125-s2016-assignment4-300874124.azurewebsites.net/
@description : This file is the main custom style sheet for this web site
*/
/* custom css goes here */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 70px;
    background-image: url('http://trunkweed.com/uploads/posts/images/422054-apj-abdul-kalam-wallpaper.jpg');

}


#canvas{
    border: 1px white solid;
    border-radius: 5px;
}