/* custom css goes here */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 70px;
    background-image: url('http://trunkweed.com/uploads/posts/images/422054-apj-abdul-kalam-wallpaper.jpg');

}


#canvas{
    border: 1px white solid;
    border-radius: 5px;
}